
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icono y Nombre -->
    <link rel="icon" href="">
    <title>DigitalNoteSys</title>
    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/0fb473f9ca.js" crossorigin="anonymous"></script>
    <!-- Hojas de Estilo -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    {% block headAdd %}{% endblock %}
</head>

<body>
    <!-- Menú Principal -->
    <nav class="sidebar">
        <h1 class="sidebar__logo"><a href="{{ url_for('inicio.menu') }}">
            <img src="{{ url_for('static', filename='image/logo64px.png') }}" alt="logo">
            <span>DigitalNoteSys</span></a>
            <div class="linea"></div>
        </h1>

        <ul class="sidebar__options">
            <li class="sidebar__options--link"><a href="#">
                <i class="fa-solid fa-house"></i>
                <p>Profesores</p>
            </a></li>
            <li class="sidebar__options--link"><a href="#">
                <i class="fa-solid fa-house"></i>
                <p>Materias</p>
            </a></li>
            <li class="sidebar__options--link"><a href="#">
                <i class="fa-solid fa-house"></i>
                <p>Cursos</p>
            </a></li>
            <li class="sidebar__options--link"><a href="#">
                <i class="fa-solid fa-house"></i>
                <p>Estudiantes</p>
            </a></li>
            <li class="sidebar__options--link"><a href="#">
                <i class="fa-solid fa-house"></i>
                <p>Calificaciones</p>
            </a></li>
            <button class="sidebar__options--button">
                <i class="fa-solid fa-right-from-bracket"></i>
            </button>
            {#<!--
            {% if current_user.is_authenticated %}
            <form action="{{ url_for('logout') }}" method="POST">
                <button type="submit" class="sidebar__buttons--logout">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <p>Cerrar Sesión</p>
                </button>
            </form>
            {% endif %} -->#}
    </nav>


    <!-- Contenido de la página -->
    <div class="panel">
        {% block content %}{% endblock %}
    </div>
</body>

</html>