{% extends './inicio.html' %}

{% block title %}| Calificaciones{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block header %}
<h1>Gestionar Calificaciones</h1>
<div class="header__btns">
    <button class="btn btn__add" data-name="calificacion">
        <img src="{{ url_for('static', filename='image/add.png') }}" alt="añadir">
        <span>Añadir</span>
    </button>
</div>
{% endblock %}

{% block content %}
<!-- Rutas -->
<template id="rutas" data-add="{{ r_addFinal }}" data-get="{{ r_get }}" data-update="{{ r_update }}"
    data-delete="{{ r_delete }}" data-addQuimestre="{{ r_addQuimestre }}" data-asignaciones="{{ r_asignaciones }}">
</template>

<!-- Formulario Emergente -->
<div class="emergente" id="modal-calificacion">
    <div class="form__background">
        <button type="button" class="close">
            <span>&times;</span>
        </button>
        <div class="form__image">
            <img src="{{ url_for('static', filename='image/notas.png') }}" alt="Icono">
        </div>

        <form action="{{ r_addFinal }}" method="POST" class="form form__calificacion" id="form-calificacion">
            <div class="form__group">
                <select class="form__campo--select" name="idMatriculaAsignacion" required>
                    <option value="" disabled selected>Seleccione Estudiante</option>
                    {% for est in foraneo.estudiantes %}
                    <option value="{{ est.idEstudiante }}">
                        {{ est.nombreCompleto }} - {{ est.cedula }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form__group">
                <select class="form__campo--select" name="idMatriculaAsignacion" id="select-materia" required>
                    <option value="" disabled selected>Seleccione Materia</option>
                </select>
            </div>

            <div class="placeholder__quimestre" id="modal-quimestre">

            </div>

            <div class="form__buttons">
                <button type="submit" class="btn btn__save" id="btn-submit btn-guardar-final">
                    <img src="{{ url_for('static', filename='image/save.png') }}" alt="guardar">
                    <span>Guardar</span>
                </button>
            </div>
        </form>
    </div>
</div>

<form action="{{ r_addQuimestre }}" method="POST" id="quimestre-form">
    <div class="form__group">
        <select class="form__campo--select" name="Quimestre" required>
            <option value="" disabled selected>Seleccione Quimestre</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
    </div>

    <div class="form__group">
        <input type="number" min="0" max="10" step="0.01" class="form__campo--texto" name="NotaAutonoma"
            placeholder="Nota Autónoma" disabled required>
    </div>

    <div class="form__group">
        <input type="number" min="0" max="10" step="0.01" class="form__campo--texto" name="NotaPractica"
            placeholder="Nota Práctica" disabled required>
    </div>

    <div class="form__group">
        <input type="number" min="0" max="10" step="0.01" class="form__campo--texto" name="NotaLeccion"
            placeholder="Nota Lección" disabled required>
    </div>

    <div class="form__group">
        <input type="number" min="0" max="10" step="0.01" class="form__campo--texto" name="NotaExamen"
            placeholder="Nota Examen" disabled required>
    </div>
    <div class="form__buttons"><button type="button" id="btn-guardar-quimestre">
            <img src="{{ url_for('static', filename='image/save.png') }}" alt="guardar">
        </button>
    </div>


</form>


<!-- Tarjetas de Calificaciones -->
<div class="cards">
    {% if registros.calificaciones %}
    {% for cal in registros.calificaciones %}
    <div class="card">
        <div class="card__content">
            <h3 class="card__text card__title">
                {{ cal.estudiante_nombre }} - {{ cal.nivel }} {{ cal.paralelo }} - {{ cal.materia_nombre }}
            </h3>
            <p class="card__text"><b>Docente:</b> {{ cal.docente_nombre }}</p>
            <p class="card__text"><b>Quimestre:</b> {{ cal.Quimestre }}</p>
            <p class="card__text"><b>Notas:</b> Autónoma {{ cal.NotaAutonoma }}, Práctica {{ cal.NotaPractica }},
                Lección {{ cal.NotaLeccion }}, Examen {{ cal.NotaExamen }}</p>
            <p class="card__text"><b>Promedio Quimestre:</b> {{ cal.PromedioQuimestre }}</p>
        </div>
        <div class="card__btn">
            <button type="button" class="btn btn__edit" data-id="{{ cal.idCalificacionQuimestre }}"
                data-name="calificacion">
                <img src="{{ url_for('static', filename='image/edit.png') }}" alt="editar">
                <span>Editar</span>
            </button>
            <button type="button" class="btn btn__delete" data-id="{{ cal.idCalificacionQuimestre }}">
                <img src="{{ url_for('static', filename='image/delete.png') }}" alt="borrar">
                <span>Borrar</span>
            </button>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No hay calificaciones registradas actualmente</p>
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/emergente.js')}}"></script>
<script src="{{ url_for('static', filename='js/miniForms.js') }}"></script>
{% endblock %}