{% extends './inicio.html' %}

{% block title %}| Calificaciones{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block header %}
<h1>Gestionar Calificaciones</h1>
<div class="header__btns">
    <button class="btn btn__add" data-name="calificacion">
        <img src="{{ url_for('static', filename='image/add.png') }}" alt="añadir">
        <span>Añadir</span>
    </button>
</div>
{% endblock %}

{% block content %}
<!-- Rutas -->
<template id="rutas" data-add="{{ r_add }}" data-get="{{ r_get }}" data-update="{{ r_update }}"
    data-delete="{{ r_delete }}" data-asignaciones="{{ r_asignaciones }}">
</template>

<!-- Formulario Emergente -->
<div class="emergente" id="modal-calificacion">
    <div class="form__background">
        <button type="button" class="close">
            <span>&times;</span>
        </button>
        <div class="form__image">
            <img src="{{ url_for('static', filename='image/notas.png') }}" alt="Icono">
        </div>

        <form action="{{ r_add }}" method="POST" class="form form__calificacion" id="form-calificacion">
            <div class="placeholder__estudiante">
                <div class="form__group">
                    <select class="form__campo--select" name="idMatriculaAsignacion" required>
                        <option value="" disabled selected>Seleccione Estudiante</option>
                        {% for est in foraneo.estudiantes %}
                        <option value="{{ est.idEstudiante }}">
                            {{ est.nombreCompleto }} - {{ est.cedula }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form__group">
                    <select class="form__campo--select" name="idMatriculaAsignacion" id="select-materia" required>
                        <option value="" disabled selected>Seleccione Materia</option>
                    </select>
                </div>

                <div class="form__buttons">
                    <button type="submit" class="btn btn__save" id="btn-submit btn-guardar-final">
                        <img src="{{ url_for('static', filename='image/save.png') }}" alt="guardar">
                        <span>Guardar</span>
                    </button>
                </div>
            </div>

            <div class="placeholder__notas" id="modal-quimestre">
                <div class="placeholder__notas" id="modal-quimestre">
                    <div class="quimestre-section">
                        <h4>Quimestre 1</h4>
                        <div class="filas">
                            <div class="form__group">
                                <input type="number" min="0" max="10" step="0.01" name="NotaAutonoma1"
                                    class="form__campo--texto" placeholder="Autónoma Q1" required>
                            </div>
                            <div class="form__group">
                                <input type="number" min="0" max="10" step="0.01" name="NotaPractica1"
                                    class="form__campo--texto" placeholder="Práctica Q1" required>
                            </div>
                            <div class="form__group">
                                <input type="number" min="0" max="10" step="0.01" name="NotaLeccion1"
                                    class="form__campo--texto" placeholder="Lección Q1" required>
                            </div>
                            <div class="form__group">
                                <input type="number" min="0" max="10" step="0.01" name="NotaExamen1"
                                    class="form__campo--texto" placeholder="Examen Q1" required>
                            </div>
                        </div>
                    </div>

                    <div class="quimestre-section">
                        <h4>Quimestre 2</h4>
                        <div class="filas">
                            <div class="form__group">
                                <input type="number" min="0" max="10" step="0.01" name="NotaAutonoma2"
                                    class="form__campo--texto" placeholder="Autónoma Q2" required>
                            </div>
                            <div class="form__group">
                                <input type="number" min="0" max="10" step="0.01" name="NotaPractica2"
                                    class="form__campo--texto" placeholder="Práctica Q2" required>
                            </div>
                            <div class="form__group">
                                <input type="number" min="0" max="10" step="0.01" name="NotaLeccion2"
                                    class="form__campo--texto" placeholder="Lección Q2" required>
                            </div>
                            <div class="form__group">
                                <input type="number" min="0" max="10" step="0.01" name="NotaExamen2"
                                    class="form__campo--texto" placeholder="Examen Q2" required>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>



<!-- Tarjetas de Calificaciones -->
<div class="cards">
    {% if registros %}
    {% for cal in registros %}
    <div class="card">
        <div class="card__content">
            <h3 class="card__text card__title">
                {{ cal.Estudiante }} - {{ cal.Nivel }} {{ cal.Paralelo }} - {{ cal.Materia }}
            </h3>
            <p class="card__text"><b>Docente:</b> {{ cal.Profesor }}</p>
            <p class="card__text"><b>Promedio Quimestre 1:</b> {{ cal.PromQuimestre1 }}</p>
            <p class="card__text"><b>Promedio Quimestre 2:</b> {{ cal.PromQuimestre2 }}</p>
            <p class="card__text"><b>Promedio Final:</b> {{ cal.PromedioFinal }}</p>
        </div>
        <div class="card__btn">
            <button type="button" class="btn btn__edit" data-id="{{ cal.idCalificacionQuimestre }}"
                data-name="calificacion">
                <img src="{{ url_for('static', filename='image/edit.png') }}" alt="editar">
                <span>Editar</span>
            </button>
            <button type="button" class="btn btn__delete" data-id="{{ cal.idCalificacionQuimestre }}">
                <img src="{{ url_for('static', filename='image/delete.png') }}" alt="borrar">
                <span>Borrar</span>
            </button>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No hay calificaciones registradas actualmente</p>
    {% endif %}
</div>

{% endblock %}

{% block sripts %}
<script src="{{url_for('static', filename='js/emergente.js')}}"></script>
<script src="{{url_for('static', filename='js/calificacion.js')}}"></script>
{% endblock %}