{% extends './inicio.html' %}

{% block title %}| Calificaciones{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block header %}
<h1>Gestionar Calificaciones</h1>
<div class="header__btns">

</div>
{% endblock %}

{% block content %}
<!-- Rutas -->
<template id="rutas" data-add="{{ r_add }}" data-get="{{ r_get }}" data-update="{{ r_update }}"
    data-delete="{{ r_delete }}" data-asignaciones="{{ r_asignaciones }}"></template>

<!-- Formulario Emergente -->
<div class="emergente" id="modal-calificacion">
    <div class="form__background">
        <button type="button" class="close">
            <span>&times;</span>
        </button>
        <div class="form__image">
            <img src="{{ url_for('static', filename='image/notas.png') }}" alt="Icono">
        </div>

        <form action="" method="POST" class="form form__calificacion" id="form-calificacion">
            <div class="placeholder__estudiante">
                <!-- Mostrar Estudiante -->
                <div class="form__group">
                    <label for="campo-estudiante">Estudiante</label>
                    <input type="text" class="form__campo--texto" id="campo-estudiante" readonly>
                </div>

                <!-- Mostrar Materia -->
                <div class="form__group">
                    <label for="campo-materia">Materia</label>
                    <input type="text" class="form__campo--texto" id="campo-materia" readonly>
                </div>

                <input type="hidden" name="idMatriculaAsignacion" id="input-idMatriculaAsignacion">

                <div class="form__buttons">
                    <button type="submit" class="btn btn__save" id="btn-submit">
                        <img src="{{ url_for('static', filename='image/update.png') }}" alt="Actualizar">
                        <span>Actualizar</span>
                    </button>
                </div>
            </div>

            <div class="placeholder__notas" id="modal-quimestre">
                <div class="placeholder__notas" id="modal-quimestre">
                    <div class="quimestre-section">
                        <label>Notas Primer Quimestre</label>
                        <div class="filas">
                            <div class="form__group">
                                <input type="number" min="0" max="10" step="0.01" name="NotaAutonoma1"
                                    class="form__campo--texto" placeholder="Autónoma Q1" required>
                            </div>
                            <div class="form__group">
                                <input type="number" min="0" max="10" step="0.01" name="NotaPractica1"
                                    class="form__campo--texto" placeholder="Práctica Q1" required>
                            </div>
                            <div class="form__group">
                                <input type="number" min="0" max="10" step="0.01" name="NotaLeccion1"
                                    class="form__campo--texto" placeholder="Lección Q1" required>
                            </div>
                            <div class="form__group">
                                <input type="number" min="0" max="10" step="0.01" name="NotaExamen1"
                                    class="form__campo--texto" placeholder="Examen Q1" required>
                            </div>
                        </div>
                    </div>

                    <div class="quimestre-section">
                        <label>Notas Segundo Quimestre</label>
                        <div class="filas">
                            <div class="form__group">
                                <input type="number" min="0" max="10" step="0.01" name="NotaAutonoma2"
                                    class="form__campo--texto" placeholder="Autónoma Q2" required>
                            </div>
                            <div class="form__group">
                                <input type="number" min="0" max="10" step="0.01" name="NotaPractica2"
                                    class="form__campo--texto" placeholder="Práctica Q2" required>
                            </div>
                            <div class="form__group">
                                <input type="number" min="0" max="10" step="0.01" name="NotaLeccion2"
                                    class="form__campo--texto" placeholder="Lección Q2" required>
                            </div>
                            <div class="form__group">
                                <input type="number" min="0" max="10" step="0.01" name="NotaExamen2"
                                    class="form__campo--texto" placeholder="Examen Q2" required>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<!-- Modal para calificaciones de forma detallada -->
<div id="modal-detalle" class="table__container">
    <h3>Calificaciones</h3>
    <button id="btn-reload" class="btn btn__reload">
        <img src="{{ url_for('static', filename='image/clearTable.png') }}" alt="Limpiar tabla">
    </button>
    <div class="table__wrapper">
        <table class="table" id="tabla-calificaciones">
            <thead class="table__columnName">
                <tr>
                    <th colspan="2">INFORMACIÓN DEL ESTUDIANTE</th>
                    <th colspan="6">PRIMER QUIMESTRE</th>
                    <th colspan="6">SEGUNDO QUIMESTRE</th>
                    <th rowspan="2">PROMEDIO FINAL</th>
                    <th rowspan="2">ACCIONES</th>
                </tr>
                <tr>
                    <!-- Información estudiante -->
                    <th>CÉDULA</th>
                    <th>ESTUDIANTE</th>

                    <th>DOCENTE</th>
                    <th>MATERIA</th>

                    <!-- Primer quimestre -->
                    <th>Autónoma</th>
                    <th>Práctica</th>
                    <th>Lección</th>
                    <th>Examen</th>
                    <th>Prom. Q1</th>

                    <!-- Segundo quimestre -->
                    <th>Autónoma</th>
                    <th>Práctica</th>
                    <th>Lección</th>
                    <th>Examen</th>
                    <th>Prom. Q2</th>
                </tr>
            </thead>
            <tbody class="table__rows" id="cuerpo-tabla">
                <tr>
                    <td colspan="14" class="table__empty">Elija un estudiante</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="main__linea"></div>

<!-- Tabla estudiantes Matriculados -->
<div class="table__container">
    <h3>Estudiantes Matriculados</h3>
    <div class="table__wrapper">
        <table class="table" id="tabla-estudiantes">
            <thead class="table__columnName">
                <tr>
                    <th>CÉDULA</th>
                    <th>ESTUDIANTE</th>
                    <th>NIVEL</th>
                    <th>PARALELO</th>
                    <th>Promedio General</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody class="table__rows">
                {% if registros %}
                {% for est in registros %}
                <tr>
                    <td><b>{{ est.cedula }}</b></td>
                    <td>{{ est.nombreCompleto }}</td>
                    <td>{{ est.nivel }}</td>
                    <td>{{ est.paralelo }}</td>
                    <td>{{ est.promedio }}</td>
                    <td class="table__btn">
                        <button type="button" class="btn btn__info"
                            onclick="verCalificaciones('{{ est.idEstudiante }}')">
                            <img src="{{ url_for('static', filename='image/info.png') }}" alt="detalles">
                            <span>Ver Notas</span>
                        </button>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="6" class="table__empty">No hay calificaciones registradas actualmente</td>
                </tr>

                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block sripts %}
<script src="{{url_for('static', filename='js/calificacion.js')}}"></script>
{% endblock %}