{% extends './inicio.html' %}

{% block title %}| Cursos{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}


<!-- Encabezado -->

{% block header %}
<h1>Gestionar Cursos</h1>
<div class="header__btns">
    <button class="btn btn__add" data-name="curso">
        <img src="{{ url_for('static', filename='image/add.png') }}" alt="añadir">
        <span>Añadir</span>
    </button>
</div>
{% endblock %}

{% block content %}
<!-- Rutas -->
<template id="rutas" data-delete_other="{{ r_deleteCurso }}" data-add="{{ r_add }}" data-get="{{ r_get }}" 
    data-update="{{ r_update }}" data-delete="{{ r_delete }}" >
</template>

<!-- Formulario Emergente -->
<div class="emergente" id="modal-curso">
    <div class="form__background">
        <button type="button" class="close">
            <span>&times;</span>
        </button>
        <div class="form__image">
            <img src="{{ url_for('static', filename='image/estudiantes.png') }}" alt="Icono">
        </div>

        <form action="{{ r_add }}" method="POST" class="form form__curso" id="form-curso">
            <div class="form__group">
                <select class="form__campo--select" name="idProfesor" required>
                    <option value="" disabled selected>Seleccione el Profesor</option>
                    {% for prof in foraneo.profesores %}
                    <option value="{{ prof.idProfesor }}">{{ prof.Nombre }} {{ prof.Apellido }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form__group">
                <select class="form__campo--select" name="idMateria" required>
                    <option value="" disabled selected>Seleccione la Materia</option>
                    {% for mat in foraneo.materias %}
                    <option value="{{ mat.idMateria }}">{{ mat.Nombre }} {{ mat.Nivel }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form__group edit__foreign">
                <select class="form__campo--select" name="idCurso" id="paralelos" required>
                    <option value="" disabled selected>Seleccione el Curso</option>
                    {% for curso in registros.cursos %}
                    <option value="{{ curso.idCurso }}">{{ curso.Nivel }} {{ curso.Paralelo }}</option>
                    {% endfor %}
                </select>
                <button type="button" class="btn btn__add" id="abrir-paralelos">
                    <img src="{{ url_for('static', filename='image/add.png') }}" alt="añadir">
                </button>
                <button type="button" class="btn btn__delete" id="eliminar-paralelos">
                    <img src="{{ url_for('static', filename='image/delete.png') }}" alt="borrar">
                </button>
            </div>

            <!-- Mini-formulario para cursos -->
            <div class="form__group" id="mini-form-placeholder"></div>

            <div class="form__group">
                <input type="time" class="form__campo--fecha" name="HoraEntrada" required>
            </div>
            <div class="form__group">
                <input type="time" class="form__campo--fecha" name="HoraSalida" required>
            </div>
            <div class="form__group">
                <input type="text" class="form__campo--texto" name="Aula" placeholder="Aula" maxlength="50">
            </div>
            <div class="form__group">
                <select class="form__campo--select" name="idPeriodo" required>
                    <option value="" disabled selected>Seleccione el Periodo Lectivo</option>
                    {% for periodo in foraneo.periodos %}
                    <option value="{{ periodo.idPeriodo }}">{{ periodo.Nombre }} {{ periodo.Duracion }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form__buttons">
                <button type="submit" class="btn btn__save" id="btn-submit">
                    <img src="{{ url_for('static', filename='image/save.png') }}" alt="guardar">
                    <span>Guardar</span>
                </button>
            </div>
        </form>
    </div>

    <div class="form_miniForm" id="mini-form" data-name="paralelos">
        <form method="POST" action="{{ r_addCurso }}" class="form" id="form-paralelo">
            <div class="form__group">
                <select class="form__campo--select" name="Nivel" required>
                    <option value="" disabled selected>Nivel</option>
                    <option value="1ro">1ro</option>
                    <option value="2do">2do</option>
                    <option value="3ro">3ro</option>
                </select>
                <input type="text" name="Paralelo" placeholder="Paralelo" maxlength="5" required
                    class="form__campo--texto">
            </div>
            <div class="form__buttons">
                <button type="submit" class="btn btn__save" title="Añadir Curso">
                    <img src="{{ url_for('static', filename='image/save.png') }}">
                </button>
                <button type="button" class="btn btn__danger" id="cerrar-paralelos" title="Cerrar">
                    <span>&times;</span>
                </button>
            </div>
        </form>
    </div>


</div>

<!-- Tarjetas de Curso -->
<div class="cards">
    {% if registros %}
    {% for reg in registros.asignacion %}
    <div class="card">
        <div class="card__content">
            <h3 class="card__text card__title">{{ reg.Materia }} {{reg.Nivel}} {{reg.Paralelo}}</h3>
            <p class="card__text"><b>Profedor</b> {{ reg.Profesor }}</p>
            <p class="card__text"><b>Hora de Entrada:</b> {{ reg.HoraEntrada }}</p>
            <p class="card__text"><b>Hora de Salida:</b> {{ reg.HoraSalida }}</p>
            <p class="card__text"><b>Aula:</b> {{ reg.Aula or '' }}</p>
            <p class="card__text"><b>Periodo Lectivo:</b> {{ reg.Periodo }}</p>
        </div>
        <div class="card__btn">
            <button type="button" class="btn btn__edit" data-id="{{ reg.idAsignacion }}" data-name="curso">
                <img src="{{ url_for('static', filename='image/edit.png') }}" alt="editar">
                <span>Editar</span>
            </button>
            <button type="button" class="btn btn__delete" data-id="{{ reg.idAsignacion }}">
                <img src="{{ url_for('static', filename='image/delete.png') }}" alt="borrar">
                <span>Borrar</span>
            </button>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No hay cursos registrados actualmente</p>
    {% endif %}
</div>
{% endblock %}

{% block sripts %}
<script src="{{url_for('static', filename='js/emergente.js')}}"></script>
<script src="{{url_for('static', filename='js/curso.js')}}"></script>
{% endblock %}