{% extends './inicio.html' %}

{% block title %}| Estudiantes{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/filtros.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

<!-- Encabezado -->
{% block header %}
<h1>Gestionar Estudiantes</h1>
<div class="header__btns">
    <button class="btn btn__add" data-name="estudiante">
        <img src="{{ url_for('static', filename='image/add.png') }}" alt="añadir">
        <span>Añadir</span></button>
</div>
{% endblock %}


{% block content %}
<template id="rutas" data-add="{{ r_add }}" data-get="{{ r_get }}" data-update="{{ r_update }}"
    data-delete="{{ r_delete }}"></template>

<!-- Formulario Emergente -->
<div class="emergente" id="modal-estudiante">
    <div class="form__background">
        <button type="button" class="close">
            <span>&times;</span>
        </button>
        <div class="form__image">
            <img src="{{ url_for('static', filename='image/estudiantes.png') }}" alt="Icono">
        </div>
        <form action="{{ r_add }}" method="POST" class="form form__estudiante" id="form-estudiante">
            <div class="form__group">
                <input type="text" class="form__campo--texto" name="Cedula" placeholder="Cédula" required
                    pattern="^\d{10}$" maxlength="10" title="La cédula debe tener exactamente 10 dígitos numéricos">
            </div>
            <div class="form__group">
                <input type="text" class="form__campo--texto" name="Nombre" placeholder="Nombre" required>
            </div>
            <div class="form__group">
                <input type="text" class="form__campo--texto" name="Apellido" placeholder="Apellido" required>
            </div>
            <div class="form__group">
                <input type="date" class="form__campo--fecha" name="FechaNacimiento" placeholder="Fecha de Nacimiento"
                    required>
            </div>
            <div class="form__group">
                <input type="email" class="form__campo--correo" name="Correo" placeholder="Correo electrónico" required>
            </div>
            <div class="form__group">
                <input type="text" class="form__campo--texto" name="Telefono" placeholder="Teléfono" pattern="^\d{10}$"
                    inputmode="numeric" maxlength="10" title="El teléfono debe tener exactamente 10 dígitos numéricos">
            </div>
            <div class="form__group">
                <input type="text" class="form__campo--texto" name="Direccion" placeholder="Dirección" required>
            </div>
            <div class="form__group">
                <textarea class="form__campo--area" name="Observacion" placeholder="Observaciones" rows="3"></textarea>
            </div>
            <div class="form__buttons">
                <button type="submit" class="btn btn__save" id="btn-submit">
                    <img src="{{ url_for('static', filename='image/save.png') }}" alt="guardar">
                    <span>Guardar</span> </button>
            </div>
        </form>
    </div>
</div>

<!-- Filtros de busqueda (No funional)-->
<div class="filtros" style="display: none;">
    <!-- Barra de búsqueda -->
    <div class="barra__busqueda">
        <img src="{{ url_for('static', filename='image/search.png') }}" alt="buscar">
        <input type="text" id="buscar-estudiante" class="form__campo--texto" placeholder="Buscar por cédula o nombre">
    </div>

    <!-- Filtros -->
    <button type="button" id="btn-filtro" class="btn btn__filtro">
        <img src="{{ url_for('static', filename='image/filter.png') }}" alt="Filtrar">
        <span>Filtrar</span>
    </button>
    <div id="filtro-opciones" class="filtro__opciones" style="display: none;">
        <div class="filtro__campo">
            <label for="filtro-nivel">Nivel</label>
            <select id="filtro-nivel" class="form__campo--select">
                <option value="">Todos</option>
                <option value="1ro">1ro</option>
                <option value="2do">2do</option>
                <option value="3ro">3ro</option>
            </select>
        </div>
        <div class="filtro__campo">
            <label for="filtro-paralelo">Paralelo</label>
            <select id="filtro-paralelo" class="form__campo--select">
                <option value="">Todos</option>
                <option value="A">A</option>
                <option value="B">B</option>
            </select>
        </div>
        <div class="filtro__campo">
            <label for="filtro-matricula">Estado:</label>
            <select id="filtro-matricula" class="form__campo--select">
                <option value="">Todas</option>
                <option value="matriculados">Solo Matriculados</option>
                <option value="no_matriculados">No Matriculados</option>
            </select>
        </div>
    </div>
</div>

<!-- Tarjetas de Estudiante -->
<div class="cards" id="contenedorCards">
    {% if registros %}
    {% for est in registros %}
    <div class="card">
        <div class="card__content">
            <h3 class="card__text card__title">{{ est.Cedula }}</h3>
            <p class="card__text"><b>Nombres:</b> {{ est.Apellido }} {{ est.Nombre }}</p>
            <p class="card__text"><b>Fecha Nacimiento:</b> {{ est.FechaNacimiento }}</p>
            <p class="card__text"><b>Correo:</b> {{ est.Correo }}</p>
            <p class="card__text"><b>Telefono:</b> {{ est.Telefono or '' }}</p>
            <p class="card__text"><b>Direccion:</b> {{ est.Direccion or '' }}</p>
            <p class="card__text"><b>Observacion:</b> {{ est.Observacion or '' }}</p>
        </div>
        <div class="card__btn">
            <button type="button" class="btn btn__edit" data-id="{{ est.idEstudiante }}" data-name="estudiante">
                <img src="{{ url_for('static', filename='image/edit.png') }}" alt="editar">
                <span>Editar</span> </button>
            <button type="button" class="btn btn__delete" data-id="{{ est.idEstudiante }}">
                <img src="{{ url_for('static', filename='image/delete.png') }}" alt="borrar">
                <span>Borrar</span> </button>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No hay estudiantes registrados actualmente.</p>
    {% endif %}
</div>
{% endblock %}

{% block sripts %}
<script src="{{url_for('static', filename='js/filtrosEstudiante.js')}}"></script>
{% endblock %}