{% extends './inicio.html' %}

{% block title %}| Estudiantes{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

    {% block content %}
        <!-- Encabezado -->
        <header class="header">
            <h1>Estudiantes</h1>
        </header>

        <main class="contenido">
            <button class="btn btn__add" onclick="abrirForm('{{ url_for('estudiante.add') }}', 'form-estudiante','modal-estudiante')">Añadir</button>
    
            <!-- Formulario Emergente -->
            <div class="emergente" id="modal-estudiante">
                <div class="form__background">
                    <button type="button" class="close" onclick="cerrarForm('modal-estudiante')">
                        <span>&times;</span>
                    </button>

                    <form action="{{ url_for('estudiante.add') }}" method="POST" class="form form__estudiante" id="form-estudiante">
                        <div class="form-group">
                            <input type="text" class="form__campo--texto" name="Cedula" placeholder="Cédula" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form__campo--texto" name="Nombre" placeholder="Nombre" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form__campo--texto" name="Apellido" placeholder="Apellido" required>
                        </div>
                        <div class="form-group">
                            <input type="date" class="form__campo--fecha" name="FechaNacimiento" placeholder="Fecha de Nacimiento">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form__campo--correo" name="Correo" placeholder="Correo electrónico">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form__campo--texto" name="Telefono" placeholder="Teléfono">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form__campo--texto" name="Direccion" placeholder="Dirección">
                        </div>
                        <div class="form-group">
                            <textarea class="form__campo--texto" name="Observacion" placeholder="Observaciones" rows="3"></textarea>
                        </div>
                        <button class="btn btn__save" id="btn-submit">Guardar</button>
                    </form>
                </div>
            </div>
            <div class="cards">
            {% if registros %}
                {% for reg in registros %}
                    <div class="card__content">
                        <h3 class="card__text card__title">{{ reg.Cedula }}</h3>
                        <p class="card__text"><b>Nombres:</b> {{ reg.Apellido }} {{ reg.Nombre }}</p>
                        <p class="card__text"><b>Fecha Nacimiento:</b>  {{ reg.FechaNacimiento }}</p>
                        <p class="card__text"><b>Correo:</b> {{ reg.Correo }}</p>
                        <p class="card__text"><b>Telefono:</b> {{ reg.Telefono }}</p>
                        <p class="card__text"><b>Direccion:</b>  {{ reg.Direccion }}</p>
                        <p class="card__text"><b>Observacion:</b> {{ reg.Observacion }}</p>
                    </div>
                    <div class="card__btn">
                        <button type="button" class="btn btn__edit"
                            data-id="{{ reg.idEstudiante }}"
                            data-get="{{ r_get }}"
                            data-form="form-estudiante"
                            data-modal="modal-estudiante"
                            data-update="{{ r_update }}"
                            data-campos='{{ campos|tojson }}'
                        >Editar</button>
                        <button ype="button"  class="btn btn__delete"
                            data-delete="{{ url_for('estudiante.delete', id=reg.idEstudiante) }}"
                        > Borrar </button>

                    </div>
                {% endfor %}
            {% else %}
                <p>No hay estudiantes registrados actualmente.</p>
            {% endif %}
            </div>
           
        </main>
    {% endblock %}
