<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Nombre de la aplicación -->
    <title>DigiNote {% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!-- Hojas de Estilo -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    {% block head %}{% endblock %}
</head>

<body class="flex__body">
    <!-- Menú Principal -->
    <nav class="sidebar">
        <div class="sidebar__logo">
            <a href="{{ url_for('inicio.menu') }}">
                <img src="{{ url_for('static', filename='image/logo64px.png') }}" alt="logo">
                <span>DigiNote</span>
            </a>
        </div>
        <div class="sidebar__linea"></div>
        <ul class="sidebar__options">
            <!-- Periodos Lectivos -->
            <li class="sidebar__options--link {% if active_page == 'per' %}active{% endif %}">
                <a href="{{ url_for('periodo.show') }}">
                    <img src="{{ url_for('static', filename='image/periodo.png') }}" alt="Icono">
                    <p>Periodos</p>
                </a>
            </li>
            <!-- Materias -->
            <li class="sidebar__options--link {% if active_page == 'mat' %}active{% endif %}">
                <a href="{{ url_for('materia.show') }}">
                    <img src="{{ url_for('static', filename='image/asignatura.png') }}" alt="Icono">
                    <p>Materias</p>
                </a>
            </li>
            <!-- Cursos -->
            <li class="sidebar__options--link {% if active_page == 'cur' %}active{% endif %}">
                <a href="{{ url_for('curso.show') }}">
                    <img src="{{ url_for('static', filename='image/curso.png') }}" alt="Icono">
                    <p>Cursos</p>
                </a>
            </li>
            <!-- Profesores -->
            <li class="sidebar__options--link {% if active_page == 'prof' %}active{% endif %}">
                <a href="{{ url_for('profesor.show') }}">
                    <img src="{{ url_for('static', filename='image/docente.png') }}" alt="logo">
                    <p>Profesores</p>
                </a>
            </li>
            <!-- Estudiantes -->
            <li class="sidebar__options--link {% if active_page == 'est' %}active{% endif %}">
                <a href="{{ url_for('estudiante.show') }}">
                    <img src="{{ url_for('static', filename='image/estudiantes.png') }}" alt="Icono">
                    <p>Estudiantes</p>
                </a>
            </li>
            <!-- Matrícula -->
            <li class="sidebar__options--link {% if active_page == 'matr' %}active{% endif %}">
                <a href="{{ url_for('matricula.show') }}">
                    <img src="{{ url_for('static', filename='image/matricula.png') }}" alt="Icono">
                    <p>Matrículas</p>
                </a>
            </li>
            <!-- Calificaciones -->
            <li class="sidebar__options--link {% if active_page == 'calif' %}active{% endif %}">
                <a href="{{ url_for('calificacion.show') }}">
                    <img src="{{ url_for('static', filename='image/notas.png') }}" alt="Icono">
                    <p>Calificaciones</p>
                </a>
            </li>
            <!-- Usuarios -->
            <li class="sidebar__options--link {% if active_page == 'user' %}active{% endif %}">
                <a href="{{ url_for('auth.show') }}">
                    <img src="{{ url_for('static', filename='image/usuario.png') }}" alt="Icono">
                    <p>Usuarios</p>
                </a>
            </li>
            <!-- Cerrar sesión -->
            <li class="sidebar__options--link">
                <a href="{{ url_for('auth.logout') }}">
                    <img src="{{ url_for('static', filename='image/logout.png') }}" alt="Icono">
                    <p>Cerrar Sesión</p>
                </a>
            </li>
        </ul>

    </nav>

    <!-- Contenido de la página -->
    <div class="panel">

        <!-- Encabezado -->
        <header class="header {% if active_page == 'inicio' %}no-bg{% endif %}">
            {% block header %}{% endblock %}
        </header>

        <main class="contenido">
            <!-- Mensajes de Sistema -->
            <div id="flash-messages">
                {% for categoria, mensaje in get_flashed_messages(with_categories=true) %}
                <div class="alert alert__{{ categoria }}" role="alert">
                    <span>{{ mensaje }}</span>
                    <button type="button" class="close" data-dismiss="alert" onclick="cerrarAlert(this)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
            {% block content %}{% endblock %}
        </main>
    </div>
    <!-- Scripts -->
    {% block sripts %}{% endblock %}
    <script src="{{ url_for('static', filename='js/emergente.js') }}"></script>
    <script src="{{url_for('static', filename='js/alertas.js')}}"></script>
</body>

</html>