<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Nombre de la aplicación -->
    <title>DigiNote {% block title %}{% endblock %}</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- Hojas de Estilo -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
    <!-- Menú Principal -->
    <nav class="sidebar">
        <div class="sidebar__logo"><a href="{{ url_for('inicio.menu') }}">
            <img src="{{ url_for('static', filename='image/logo64px.png') }}" alt="logo">
            <span>DigiNote</span></a>    
        </div>
        <div class="sidebar__linea"></div>
        <ul class="sidebar__options">
            <li class="sidebar__options--link {% if active_page == 'prof' %}active{% endif %}">
                <a href="{{ url_for('profesor.show') }}">
                <img src="{{ url_for('static', filename='image/docente.png') }}" alt="logo">
                <p>Profesores</p>
            </a></li>
            <li class="sidebar__options--link {% if active_page == 'mat' %}active{% endif %}">
                <a href="{{ url_for('materia.show') }}">
                <img src="{{ url_for('static', filename='image/asignatura.png') }}" alt="Icono">
                <p>Materias</p>
            </a></li>
            <li class="sidebar__options--link {% if active_page == 'matr' %}active{% endif %}">
                <a href="#">
                <img src="{{ url_for('static', filename='image/matricula.png') }}" alt="Icono">
                <p>Matriculas</p>
            </a></li>
            <li class="sidebar__options--link {% if active_page == 'cur' %}active{% endif %}">
                <a href="#">
                <img src="{{ url_for('static', filename='image/curso.png') }}" alt="Icono">
                <p>Cursos</p>
            </a></li>
            <li class="sidebar__options--link {% if active_page == 'est' %}active{% endif %}">
                <a href="{{ url_for('estudiante.show') }}">
                <img src="{{ url_for('static', filename='image/estudiantes.png') }}" alt="Icono">
                <p>Estudiantes</p>
            </a></li>
            <li class="sidebar__options--link {% if active_page == 'calif' %}active{% endif %}">
                <a href="#">
                <img src="{{ url_for('static', filename='image/notas.png') }}" alt="Icono">
                <p>Calificaciones</p>
            </a></li>
            <li class="sidebar__options--link">
            {#<!--
            {% if current_user.is_authenticated %}
            <form action="{{ url_for('logout') }}" method="POST"> -->#}

                <button type="submit" class="sidebar__btn--logout">
                    <img src="{{ url_for('static', filename='image/logout.png') }}" alt="Icono">
                    <p>Cerrar Sesión</p>
                </button>
            
            {#<!--
            {#</form>
            {% endif %} -->#}             
            </a></li>
    </nav>
    <!-- Contenido de la página -->
    <div class="panel">
        {% block content %}{% endblock %}
    </div>
    <!-- Scripts -->
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
</body>

</html>