{% extends './inicio.html' %}

{% block title %}| Materias{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}


<!-- Encabezado -->
{% block headerTitle %}Gestionar Materias{% endblock %}
{% block headerBtn %}
<button class="btn btn__add" data-name="materia">
    <img src="{{ url_for('static', filename='image/add.png') }}" alt="añadir">
    <span>Añadir</span>
</button>
{% endblock %}

{% block content %}
<!-- Rutas -->
<template id="rutas" data-add="{{ r_add }}" data-get="{{ r_get }}" data-update="{{ r_update }}"
    data-delete="{{ r_delete }}"></template>

<!-- Formulario Emergente -->
<div class="emergente" id="modal-materia">
    <div class="form__background">
        <button type="button" class="close">
            <span>&times;</span>
        </button>
        <div class="form__image">
            <img src="{{ url_for('static', filename='image/estudiantes.png') }}" alt="Icono">
        </div>
        <form action="{{ r_add }}" method="POST" class="form form__materia" id="form-materia">
            <div class="form__group">
                <input type="text" class="form__campo--texto" name="Nombre" placeholder="Nombre de la Materia" required>
            </div>
            <div class="form__group">
                <textarea class="form__campo--area" name="Descripcion" placeholder="Descripción de la materia"
                    rows="3"></textarea>
            </div>
            <div class="form__buttons">
                <button type="submit" class="btn btn__save" id="btn-submit">
                    <img src="{{ url_for('static', filename='image/save.png') }}" alt="guardar">
                    <span>Guardar</span>
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Tarjetas de Materia -->
<div class="cards">
    {% if registros %}
    {% for reg in registros %}
    <div class="card">
        <div class="card__content">
            <h3 class="card__text card__title">{{ reg.Nombre }}</h3>
            <p class="card__text"><b>Descripción:</b> {{ reg.Descripcion or '' }}</p>
        </div>
        <div class="card__btn">
            <button type="button" class="btn btn__edit" data-id="{{ reg.idMateria }}" data-name="materia">
                <img src="{{ url_for('static', filename='image/edit.png') }}" alt="editar">
                <span>Editar</span>
            </button>
            <button type="button" class="btn btn__delete" data-id="{{ reg.idMateria }}">
                <img src="{{ url_for('static', filename='image/delete.png') }}" alt="borrar">
                <span>Borrar</span>
            </button>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No hay materias registradas actualmente</p>
    {% endif %}
</div>
{% endblock %}

{% block sripts %}
{% endblock %}