{% extends './inicio.html' %}

{% block title %}| Usuarios{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}


    <!-- Encabezado -->
    {% block header %}
        <h1>Gestionar Usuarios</h1>
        <div class="header__btns">
            <button class="btn btn__add"> <!--onclick="abrirForm('{# url_for('matricula.add') #}', 'form-matricula', 'modal-matricula')"> -->
                <img src="{{ url_for('static', filename='image/add.png') }}" alt="añadir">
                <span>Añadir</span>
            </button>    
        </div>
    {% endblock %}

{% block content %}
        <h1>Página enconstrucción</h1>
{% endblock %}