/*----------------------------CSS Reset------------------------- */

/* Reset general para elementos HTML */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* Variables de los colores */
:root {
  --blanco: #F3F5F1;
  --verde: #498752;
  --agua: #89AAB0;
  --gris: #748887;
  --verde-oscuro: #34464B;
}

body,
html {
    width: 100vw;
    width: 1s00dvw;
    height: 100vh;
    height: 100dvh;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    /*box-sizing: border-box;*/
    background: var(--blanco);
    overflow: hidden;
}

.linea {
  height: 2px;
  background-color: var(--gris);
  width: 100%;
  margin: 1rem 0;
}


.sidebar {
    background-color: var(--verde-oscuro);
    width: 14.6rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 4;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 10rem;
    white-space: nowrap;
}

.logo img {
    width: 3.2rem;
    height: 3.2rem;
}

.logo h1 {
    font-weight: 800;
    font-size: 36px;
    margin-left: 20px;
    color: #f1f1f1;
    -webkit-text-stroke: 1.5px #000000;
}

.options {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}

.options ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: .3rem;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.option {
    margin: 0;
    padding: 0;
    width: auto;
}

.option i {
    margin: 0;
    padding: 0;
}

.logo_home{
    text-decoration: none;
}

.option__notifications,
.option__home {
    height: 40px;
    align-items: center;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease;
}

.option__home {
    width: 40px;
    border-radius: 50%;
    text-decoration: none;
}

.option__notifications {
    width: 40px;
    border: none;
    border-radius: 50%;
    background: none;
    text-decoration: none;
}



.option__user {
    display: flex;
    align-items: center;
    border-radius: 20%;
    width: auto;
    padding-left: 10px;
}

.option__user span {
    width: auto;
    white-space: nowrap;
}

.option__user .profile {
    display: flex;
    align-items: center;
}

.option__user .profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.option__notifications:hover,
.option__home:hover {
    background-color: #ffffffda;
    color: #000000;
    box-shadow: 0px 4px 6px #0000001a;
}

.logout form {
    margin: 0;
}

.logout button {
    background: none;
    border: none;
    color: #ffffff90;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    text-align: left;
    cursor: pointer;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.logout button:hover {
    background-color: #333538;
    color: #fff;
}

.logout span {
    font-size: 14px;
}



/* Contenedor Principal */
.panel {
    float: right;
    display: flex;
    position: relative;
    z-index: 2;
    width: calc(100% - 14.6rem);
    min-height: 100%;
    overflow: hidden; 
}