/*----------------------------CSS Reset------------------------- */

/* Reset general para elementos HTML */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Variables de los colores */
:root {
  --blanco: #F3F5F1;
  --verde: #399b6c;
  --verde-claro: #bfd7cbee;
  --agua: #89AAB0;
  --gris: #748887;
  --verde-oscuro: #34464B;
  --negro: #1f1f20;
  --rojo: #c82333;
  --azul: #0056b3;
  font-family: "Roboto Condensed", sans-serif;
}

body,
html {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  background: var(--blanco);
  overflow: hidden;
}

.flex__body {
  display: flex;
  flex-direction: row;
}

/* Contenedor Principal */
.panel {
  float: right;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  width: calc(100% - 14.6rem);
  min-height: 100%;
  overflow: hidden;
}

/* Encabezado */
.no-bg {
  background: none !important;
}

.no-btn {
  display: none !important;
}

.header {
  width: 100%;
  height: 6.3rem;
  background-color: var(--blanco);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--agua);
  padding: 0 1rem 0.8rem 1rem
}

.header h1 {
  width: 23.6rem;
  height: 3.4rem;
  margin-top: 10px;
  font-weight: 900;
  font-size: 2.2rem;
  color: var(--verde-oscuro);
  border-bottom: 2px solid var(--blanco);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.header .header__btns {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: .4rem;
  height: 3.4rem;
  margin-right: 30px;
}

/* Botones */
.btn {
  color: var(--blanco);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 0.4rem 0.75rem;
  font-size: .9rem;
  text-align: center;
  width: 5.6rem;
  margin: .25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s ease;
}

.disabled-btn {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.disabled-btn:hover {
  background-color: inherit;
  color: inherit;
}

.btn:hover {
  font-weight: bold;
  color: var(--negro);
}

.btn img {
  width: .8rem;
  height: .8rem;
  filter: brightness(0) invert(1);
  margin-right: 5px;
}

.btn:hover img {
  filter: none;
}

.btn__add {
  background-color: var(--verde);
}

.btn__add:hover {
  background-color: #699f71;
}

.btn__info,
.btn__save {
  background-color: var(--azul);
  width: 6.2rem;
}

.btn__info:hover,
.btn__save:hover {
  background-color: #4b8dd2;
}

.btn__edit {
  background-color: var(--gris);
}

.btn__edit:hover {
  background-color: #a9afb1;
}

.btn__danger,
.btn__reset,
.btn__delete {
  background-color: var(--rojo);
}

.btn__danger:hover,
.btn__reset:hover,
.btn__delete:hover {
  background-color: #dc5966;
}

/* Textos especificos */
.text__info {
  color: var(--azul);
  font-weight: 500;
}

.text__danger {
  color: var(--rojo);
  font-weight: 500;
}

/* Contenido */
.contenido {
  width: 100%;
  height: calc(100% - 6.3rem);
  padding: 1rem;
  overflow-y: auto;
}

/* alertas */
#flash-messages {
  position: fixed;
  top: 5rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 6px;
  z-index: 1000;
  width: 30dvw;
  pointer-events: none;
}

#flash-messages .alert {
  pointer-events: auto;
  padding: .6rem;
  margin: 0 1rem 0 auto;
  border-radius: 4px;
  position: relative;
  font-size: .8rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  animation: slideIn 0.3s ease-out;
}

#flash-messages .alert span {
  width: 96%;
}

.alert__successful {
  background-color: #d4edda;
  color: var(--verde);
  border-color: #699f71;
}

.alert__danger {
  background-color: #f8d7da;
  color: var(--rojo);
  border-color: #dc5966;
}

.alert__info {
  background-color: #d1ecf1;
  color: var(--azul);
  border-color: #4b8dd2;
}

#flash-messages .alert .close {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  background: none;
  border: none;
  font-size: 1.3rem;
  color: inherit;
  cursor: pointer;
}

.btn__reload {
  position: absolute;
  top: 0.5rem;
  right: 7.8rem;
  font-size: 24px;
  background-color: var(--verde);
  width: 2.4rem;
  height: 2.4rem;
}

.btn__reload img {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0;
}

.btn__reload:hover {
  background-color: #699f71;
}


@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.alert.hide {
  animation: slideOut 0.3s ease-in;
}

@keyframes slideOut {
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}