:root {
    --blanco: #F3F5F1;
    --verde: #498752;
    --agua: #89AAB0;
    --gris: #748887;
    --verde-oscuro: #34464B;
    --negro: #1f1f20;
    --rojo: #c82333;
    --rojo-claro: #f8b3b320;
    --azul: #0056b3;
    font-family: "Roboto Condensed", sans-serif;
}

/* Fondo oscuro del formulario emergente */
.emergente {
    display: none;
    position: fixed;
    z-index: 999;
    right: 0;
    top: 0;
    width: calc(100% - 14.4rem);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Formularo emergente */
.form__background,
#mini-form .form__background {
    background-color: var(--blanco);
    margin: 0 auto;
    margin-top: 3.2rem;
    padding: 1.8rem;
    width: 22vw;
    border-radius: 10px;
    position: relative;
}

#mini-form {
    z-index: 1000;
}

#mini-form .form__background {
    transform: translateY(39%);
    margin-right: 19vw;
    width: 18vw;
}

#mini-form-placeholder,
#mini-form {
    display: none;
}

#mini-form-placeholder.visible,
#mini-form.visible {
    display: block;
}

.form {
    display: flex;
    font-family: "Roboto Condensed", sans-serif;
    flex-direction: column;
    gap: .8rem;
    margin: 0 auto;
    width: 100%;
}

/* Boton para cerrar formulario emergente */
.close,
#mini-form .close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    border: 2px solid var(--rojo);
    background: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    color: var(--rojo);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

}

.close span {
    position: static;
    line-height: 1;
}

/* Imagen/Encabezado del Formulario emergente */
.form__image {
    width: 100%;
    margin-bottom: 14px;
}

.form__image img {
    display: block;
    width: 4rem;
    margin: 10px auto;
}

/* Campos del Formulario emergente */
.form__group {
    position: relative;
    width: 100%;
}

.form__campo--texto,
.form__campo--area,
.form__campo--fecha,
.form__campo--correo,
.form__campo--select {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid var(--gris);
    border-radius: 5px;
    font-size: .9rem;
    box-sizing: border-box;
}

.form__campo--fecha,
.form__campo--select {
    height: 100%;
    box-sizing: border-box;
}

.form__campo--area {
    resize: none;
}

.form__campo--texto::placeholder,
.form__campo--correo::placeholder,
.form__campo--area::placeholder {
    color: var(--gris);
    font-family: "Roboto Condensed", sans-serif;
    opacity: 1;
}

.form__campo--texto::placeholder .required::after {
    position: absolute;
    content: '*';
    top: 7px;
    left: 4px;
    font-size: 1rem;
    padding: 0;
    color: var(--rojo);
}

.multiselect small {
    font-size: .6rem;
}

.multiselect label {
    font-size: .9rem;
}

#mini-form .form {
    gap: 3px;
}

#mini-form .form__buttons,
.form__buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#mini-form .form__group {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

#mini-form .form__group > * {
    flex: 1 1 48%;
    max-width: 48%;
}

#mini-form .form__buttons {
    justify-content: flex-end;
}

#mini-form .form__buttons button {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 600;
}

#mini-form .form__buttons img {
    margin: 0;
}

.edit__foreign {
    display: flex;
    justify-content: flex-end;
}

.edit__foreign button {
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit__foreign button img {
    margin: 0;
    padding: 0;
}

/* Resaltar campo invalido del formulario emergente */
.form__campo--texto:required:placeholder-shown,
.form__campo--correo:required:placeholder-shown,
.form__campo--fecha:required:invalid,
.form__campo--select:required:invalid,
.form__campo--area:required:placeholder-shown {
    background-color: var(--rojo-claro)
}

.form__group input:invalid,
.form__group textarea:invalid,
.form__group select:invalid {
    border: 2px solid var(--rojo);
    background-color: var(--blanco);
}

.form__group input:valid,
.form__group textarea:valid,
.form__group select:valid {
    border: 2px solid var(--verde);
    background-color: var(--blanco);
}