.contenido {
  overflow: hidden;
  height: calc(100% - 6.3rem);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}

.table__container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .75rem;
  min-height: 0;
  position: relative;
}

.main__linea {
  border: none;
  height: 2px;
  background-color: var(--gris);
  width: 90%;
  margin: .7rem auto .8rem auto;

}

.table__container h3 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  padding: 0 1rem;
}

.table__wrapper {
  flex: 1;
  overflow: auto;
  border-radius: 8px;
  max-width: 66vw;
  max-width: 66dvw;
}

.table {
  width: 65vw;
  width: 65dvw;
  table-layout: auto;
  overflow: auto;
  border-collapse: collapse;
  font-size: 0.9rem;
  margin: 0;
}

.table thead,
.table tbody {
  width: 100%;
  margin: 0;
}

.table__rows tr {
  width: 100%;
  z-index: 1;
  position: relative;
}

.table__rows td {
  text-align: center;
  z-index: 1;
  position: relative;
}

.table__rows tr:hover {
  background-color: var(--verde-claro);
}

.table__columnName {
  position: sticky;
  top: 0;
  z-index: 10;
}

.table__columnName th {
  background-color: var(--agua);
  font-weight: bold;
  border-bottom: 1px solid var(--negro);
  padding: 0.6rem 1rem;
  text-align: center;
  align-content: center;
  white-space: nowrap;
}

.table__rows td {
  border-bottom: 1px solid var(--negro);
  padding: 0.6rem 1rem;
  text-align: center;
  align-self: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table__columnName th:nth-child(1),
.table__rows td:nth-child(1) {
  width: 10%;
}

.table__columnName th:nth-child(2),
.table__rows td:nth-child(2) {
  width: 20%;
}

.table__columnName th:last-child,
.table__rows td:last-child {
  position: sticky;
  right: 0;
  z-index: 200;
}

.table__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3px;
}

.table__actions .btn {
  width: 2.4rem;
}

.table__actions img {
  margin: 0;
}

.table__empty {
  padding: 1rem;
  font-weight: bold;
  color: var(--gris);
}

.table__empty:hover {
  background-color: none;
}

@media (max-width: 768px) {
  .table {
    display: block;
    width: 100%;
  }
}